{% extends "list_parent.html.twig" %}

{% block content %}
        <div class="right_side">
            <article class="agregar_articulo">  <!--CUERPO DE LA PAGINA-->
                <h2>Listado de Compras</h2>
                <table>
                    <tr>
                        <th>Numero de Compra</th>
                        <th>Numero de Factura</th>
                        <th>Cuit Proveedor</th>
                        <th>Fecha</th>
                        <th></th> <!-- BOTON MODIFICAR -->
                        <th></th> <!-- BOTON ELIMINAR -->
                    </tr>
                    {% for compra in compras %}
                    <tr>
                        <td>{{ compra.getId }}</td>
                        <td>{{ compra.getFactura }}</td>
                        <td>{{ compra.getCuit }}</td>
                        <td>{{ compra.getFecha }}</td>
                        <td><a href="./?action=expense_modify_check&id={{compra.getId}}"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="./?action=expense_delete&id={{compra.getId}}"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
                {% if num_pagina > 0 %}
                <button id="izquierda" type="submit" onClick="window.location.href='./?action=expense_list&anterior={{num_pagina}}'">Anterior</button>
                {% endif %}
                {% if num_pagina < total_paginas %}
                <button id="derecha" type="reset" onClick="window.location.href='./?action=expense_list&siguiente={{num_pagina}}'">Siguiente</button>
                {% endif %}
            </article>
            <a id="add" href="./?action=expense_add">Agregar nueva compra</a>
        </div>
{% endblock %}