{% extends "add_parent.html.twig" %}

{% block head %}
    {{ parent() }}
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script>
		$(document).ready(function() {
		var max_fields      = 10; //maximum input boxes allowed
		var wrapper         = $(".input_fields_wrap"); //Fields wrapper
		var add_button      = $(".add_field_button"); //Add button ID
		var x = 1; //initlal text box count
		$(add_button).click(function(e){ //on add input button click
		    e.preventDefault();
		    if(x < max_fields){ //max input box allowed
		        x++; //text box increment
			    $(wrapper).append('<div><select id="seleccion" name="producto[]" required>					                    <option value="">Selecciona un producto</option>					                    {% for product in productos %}                        					<option value="{{product.getId}}">{{ product.getNombre }}</option>                        				{% endfor %}					                </select>					               	<input type="number" id="cantidad" value="1" min="1" max="{{product.getStock}}" name="cantidad[]" onkeypress="return justNumbers(event);" class="inputElement" placeholder="Cantidad" required><br><button id="remove" class="remove_field">Borrar</button></div>'); //add input box
		    }
		});

		$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
		    e.preventDefault(); $(this).parent('div').remove(); x--;
		})
		});
	</script>
{% endblock %}

{% block content %}
<div class="right_side">
	<article class="agregar_articulo">	<!--CUERPO DE LA PAGINA-->
		<h2>Modificaci&oacute;n de Venta</h2>
		<form method="post" action="./?action=sale_modify&id={{venta.getId}}" class="productForm">
			<input type="hidden" name="token" value="{{token}}" />
            <div class="">
	            <label class="">Productos/Cantidad</label>
	            <div id="boton" class="input_fields_wrap">
	                <div>
	                    {% for product_venta in productos_venta %}
	                    	<select class="seleccion" name="producto[]" required>
	                    		<option value="">Selecciona un producto</option>
			                {% for product in productos %}
                				{% if product.getId == product_venta.getProductoId %}
									<option value="{{product.getId}}" selected>{{ product.getNombre }}</option>
            					{% else %}
									<option value="{{product.getId}}">{{ product.getNombre }}</option>
           						{% endif %}
               				{% endfor %}
            				</select>
            				<input type="number" class="cantidad" min="1" name="cantidad[]" onkeypress="return justNumbers(event);" value="{{product_venta.getCantidad}}" placeholder="Cantidad" required>
	                	{% endfor %}	
	                </div>
	            </div>
	            <button class="add_field_button">Agregar otro producto</button>
	        </div>
		    <button id="izquierda" type="submit">Modificar</button>
			<button id="derecha" type="reset" onClick="window.location.href='./?action=sale_list'">Volver al listado</button>
		</form>
	</article>
</div>
{% endblock %}